<div>
<input type="text"/>
<button>Search by city, city and state or zip code</button>

<div> or</div>
<button id="curr">Use My Current Location</button>

</div>
<div id="results"></div>



<script src="/javascript/search.js"></script>